body {
    background-color: #CCC;
}

#toolbar-menu {
    padding: 20px;
}

#toolbar-header {
    margin: 0;
}

.topic {
    color: aqua;
}

#search-methods-topic {
    margin: 0;
}

#param-search-topic {
    margin-bottom: 20px;
}

h4 {
    margin: 5px 0;
}

section {
    margin-top: 15px;
}

#main-container {
    background-color: aquamarine;
}

#events-container {
    background-color: #EEE;
    float: left;
}

#events-list {
    background-color: antiquewhite;
}

md-toast {
    left: calc(50vw - 150px);
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #C8F7C5;
    color: #26A65B;
}

md-list {
    width: 300px;
}

md-list-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

md-list-item:nth-child(odd) {
    background-color: #E4F1FE;
}

md-list-item:nth-child(even) {
    background-color: white;
}

input[type="email"],
input[type="password"] {
    height: 55px;
    border-radius: 10px;
    padding: 0 15px;
}

#login-button,
#logout-button {
    margin: 0;
    padding: 3px 15px;
}

#login-form {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

#main-map {
    height: 500px;
}

#sub-map {
    height: 200px;
    background-color: #C8F7C5;
}

#search-field {
    background-color: aqua;
}

.error-container {
    padding: 15px 0;
}

md-dialog-content {
    padding: 15px 35px;
}

.search-methods {
    border: 1px solid black;
    margin: 5px;
    padding: 20px !important;
}