body {
    background-color: #CCC;
}

#toolbar-menu {
    padding: 20px;
}

#toolbar-header {
    margin: 0;
}

.topic {
    color: aqua;
}

#main-container {
    background-color: aquamarine;
    height: 100%;
}

#events-container {
    background-color: #EEE;
    float: left;
}

#events-list {
    background-color: antiquewhite;
}

md-toast {
    left: calc(50vw - 150px);
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #C8F7C5;
    color: #26A65B;
}

md-list-item {
    padding: 0 10px;
}

input[type="email"],
input[type="password"] {
    height: 55px;
    border-radius: 10px;
    padding: 0 15px;
}

#login-button,
#logout-button {
    margin: 0;
    padding: 3px 15px;
}

#login-form {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

#map-field {
    background-color: burlywood;
}

ng-map {
    height: 500px;
}

#search-field {
    background-color: aqua;
}