<md-dialog aria-label="Edit event"  ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create event</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="event.closeEventDialog()">
                <md-icon md-svg-src="assets/img/close.svg" aria-label="Close event dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout="column" layout-align="center center">

        <form name="eventForm">

            <md-input-container>
                <label>Category</label>
                <input type="text" required
                       name="categoryField"
                       aria-label="Create event category"
                       ng-model="event.categoryCreate"
                       md-maxlength="15" />
            </md-input-container><br />

            <md-input-container>
                <label>Description</label>
                <input type="text" required
                       name="descriptionField"
                       aria-label="Create event description"
                       ng-model="event.descriptionCreate"
                       md-maxlength="100" />
            </md-input-container><br />

            <md-button class="md-raised md-primary"
                       ng-click="event.createEvent()">Create</md-button>

        </form>

        <!-- Error messages -->
        <div ng-include src="'partials/shared/error-messages.html'"></div>

    </md-dialog-content>

</md-dialog>