<!-- HTML-Template for Create Event -->

<md-dialog aria-label="Edit event"  ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create event</h2>
            <span flex></span>
            <!-- Close button for dialog -->
            <md-button class="md-icon-button" ng-click="event.closeEventDialog()">
                <md-icon md-svg-src="assets/img/close.svg" aria-label="Close event dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout="column" layout-align="center center">

        <!-- Create form for new Event -->
        <form name="eventForm">

            <!-- Category input field -->
            <md-input-container>
                <label>Category</label>
                <input type="text" required
                       name="categoryField"
                       aria-label="Create event category"
                       ng-model="event.categoryCreate"
                       md-maxlength="15" />

                <!-- Category error messages -->
                <div ng-messages="eventForm.categoryField.$error">
                    <div ng-message="required">* Category is required.</div>
                    <div ng-message="md-maxlength">* Category is to long. Max length is 15 chars.</div>
                </div>
            </md-input-container><br />

            <!-- Description input field -->
            <md-input-container>
                <label>Description</label>
                <input type="text" required
                       name="descriptionField"
                       aria-label="Create event description"
                       ng-model="event.descriptionCreate"
                       md-maxlength="100" />

                <!-- Description error messages -->
                <div ng-messages="eventForm.descriptionField.$error">
                    <div ng-message="required">* Description is required.</div>
                    <div ng-message="md-maxlength">* Description is to long. Max length is 100 chars.</div>
                </div>
            </md-input-container><br />

            <!-- Choose position input method -->
            <md-radio-group ng-model="positionOption">
                <md-radio-button value="Address">Address</md-radio-button>
                <md-radio-button value="Coordinates">Latitude & Longitude</md-radio-button>
            </md-radio-group>

            <!-- Address input field -->
            <md-input-container ng-if="positionOption =='Address'">
                <label>Address</label>
                <input type="text"
                       name="addressField"
                       aria-label="Fill in address"
                       ng-model="event.addressCreate" />
            </md-input-container><br />

            <div id="coordinates" ng-if="positionOption == 'Coordinates'">
                <!-- Latitude input -->
                <md-input-container>
                    <label>Latitude</label>
                    <input type="text"
                           name="latitudeField"
                           aria-label="Fill in latitude"
                           ng-model="event.latitudeCreate" />
                </md-input-container><br />

                <!-- Longitude input -->
                <md-input-container>
                    <label>Longitude</label>
                    <input type="text"
                           name="longitudeField"
                           aria-label="Fill in longitude"
                           ng-model="event.longitudeCreate" />
                </md-input-container><br />
            </div>

            <!-- Create button -->
            <md-button class="md-raised md-primary"
                       ng-click="event.createEvent()">Create</md-button>

        </form>

    </md-dialog-content>

</md-dialog>