<!--

* category
* description

# creator_id
# position_id

-->

<div id="create-div">

    <h1>Create new event</h1>

    <md-input-container>
        <input type="text" required
               name="category"
               ng-model="event.category"
               placeholder="Category" />
    </md-input-container><br />

    <md-input-container>
        <input type="text" required
               name="description"
               ng-model="event.description"
               placeholder="Description" />
    </md-input-container><br />

    <md-button class="md-raised md-primary"
               ng-click="event.createEvent()">Create</md-button>

</div>