<div id="edit-container">

    <h1>Edit event</h1>

    <form name="editForm">

        <md-input-container>
            <input type="text" required
                   name="categoryField"
                   aria-label="Edit event"
                   ng-model="event.category" />
        </md-input-container><br />

        <md-input-container>
            <input type="text" required
                   name="descriptionField"
                   ng-model="event.description"
                   aria-label="Edit event" />
        </md-input-container><br />

        <md-button class="md-raised md-primary"
                   ng-click="event.editEvent()">Save</md-button>

    </form>

    <!-- Error messages -->
    <div ng-messages="editForm.categoryField.$error" role="alert">
        <div ng-message="required">You did not enter a category for the event.</div>
    </div>

    <div ng-messages="editForm.descriptionField.$error" role="alert">
        <div ng-message="required">You did not enter a description for the event.</div>
    </div>

</div>