<div id="edit-div">

    <h1>Edit event</h1>

    <md-input-container>
        <input type="text" required
               name="category"
               ng-model="event.category"
               aria-label="Edit event" />
    </md-input-container><br />

    <md-input-container>
        <input type="text" required
               name="description"
               ng-model="event.description"
               aria-label="Edit event" />
    </md-input-container><br />

    <md-button class="md-raised md-primary"
               ng-click="event.editEvent()">Save</md-button>

</div>