<!-- HTML-Template for Edit Event -->

<md-dialog aria-label="Edit event"  ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit event</h2>
            <span flex></span>
            <!-- Close button for dialog -->
            <md-button class="md-icon-button" ng-click="event.closeEventDialog()">
                <md-icon md-svg-src="assets/img/close.svg" aria-label="Close event dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout="column" layout-align="center center">

        <!-- Edit form -->
        <form name="eventForm">

            <!-- Category input field -->
            <md-input-container>
                <label>Category</label>
                <input type="text" required
                       name="categoryField"
                       aria-label="Edit event category"
                       ng-model="event.category"
                       md-maxlength="15" />

                <!-- Category error messages -->
                <div ng-messages="eventForm.categoryField.$error">
                    <div ng-message="required">* Category is required.</div>
                    <div ng-message="md-maxlength">* Category is to long. Max length is 15 chars.</div>
                </div>
            </md-input-container><br />

            <!-- Description input field -->
            <md-input-container>
                <label>Description</label>
                <input type="text" required
                       name="descriptionField"
                       aria-label="Edit event description"
                       ng-model="event.description"
                       md-maxlength="100" />

                <!-- Description error messages -->
                <div ng-messages="eventForm.descriptionField.$error">
                    <div ng-message="required">* Description is required.</div>
                    <div ng-message="md-maxlength">* Description is to long. Max length is 100 chars.</div>
                </div>
            </md-input-container><br />

            <!-- Save button -->
            <md-button class="md-raised md-primary"
                       ng-click="event.editEvent()">Save</md-button>

        </form>

    </md-dialog-content>

</md-dialog>