<div id="events-container" layout="row">

    <md-list id="events-list" layout-align="center start">

        <md-button class="md-raised md-accent"
                   ng-click="showCreateDialog()"
                   ng-if="isAuthed()">
            Create new event!
        </md-button>

        <md-subheader class="md-no-sticky">Events list</md-subheader>

        <md-list-item ng-repeat="event in events"
                      ng-click="showEvent(event)">

            <md-icon class="md-secondary"
                     ng-if="isAuthed()"
                     ng-click="showEditDialog(event)"
                     aria-label="Edit event"
                     md-svg-icon="editIcon">

                <md-tooltip md-direction="top">
                    Edit event
                </md-tooltip>

            </md-icon>

            <md-icon class="md-secondary"
                     ng-if="isAuthed()"
                     ng-click="showDeleteDialog(event)"
                     aria-label="Delete event"
                     md-svg-icon="deleteIcon">

                <md-tooltip md-direction="top">
                    Delete event
                </md-tooltip>

            </md-icon>

            <div class="event-child">
                {{ event.id }} | {{ event.category }}
            </div>

        </md-list-item>

    </md-list>

</div>

<div layout="column">


    <ng-map center="sweden" zoom="6" id="main-map">
        <marker ng-repeat="ev in events"
                position="{{ev.position.address}}"></marker>
    </ng-map>

    <div flex id="search-field">
        Search field
    </div>

</div>