<div id="events-container" layout="row">

    <md-list id="events-list" layout-align="center start">

        <md-button class="md-raised md-accent"
                   ng-click="showCreateDialog()"
                   ng-if="isAuthed()">
            Create new event!
        </md-button>

        <md-subheader class="md-no-sticky">Events list</md-subheader>

        <md-list-item ng-repeat="event in events"
                      ng-click="showEvent(event)">

            <md-icon class="md-secondary"
                     ng-if="isAuthed()"
                     ng-click="showEditDialog(event)"
                     aria-label="Edit event"
                     md-svg-icon="editIcon">

                <md-tooltip md-direction="top">
                    Edit event
                </md-tooltip>

            </md-icon>

            <md-icon class="md-secondary"
                     ng-if="isAuthed()"
                     ng-click="showDeleteDialog(event)"
                     aria-label="Delete event"
                     md-svg-icon="deleteIcon">

                <md-tooltip md-direction="top">
                    Delete event
                </md-tooltip>

            </md-icon>

            <div class="event-child">
                {{ event.id }} | {{ event.category }}
            </div>

        </md-list-item>

    </md-list>

</div>

<div layout="column">


    <ng-map center="sweden" zoom="6" id="main-map">
        <marker ng-repeat="ev in events"
                position="{{ev.position.address}}"></marker>
    </ng-map>

    <div flex id="choose-search-method" class="search-methods">
        <h1 class="md-headline">Search events by a specific method</h1>
        <md-input-container>
            <label>Search methods</label>
            <md-select ng-model="selectedMethod" md-selected-text="getSelectedMethod()">
                <md-optgroup label="methods">
                    <md-option ng-value="method" ng-repeat="method in searchMethods">{{method}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>

        <div flex id="search-by-filter"
             class="search-methods"
             ng-if="selectedMethod == 'Filter'">

            <!--<md-autocomplete
                    md-selected-item="event.selectedItem"
                    md-search-text="event.searchText"
                    md-items="item in event.querySearch(event.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="Filter events by category search">
                <md-item-template>
                    <span md-highlight-text="event.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    No categories matching "{{event.searchText}}" were found.
                </md-not-found>
            </md-autocomplete>-->

            Filter

        </div>

        <div flex id="search-nearby-places"
             class="search-methods"
             ng-if="selectedMethod == 'Nearby'">

            <!-- TODO: Add address search field. Turn off other fields if so. -->

            <md-input-container>
                <label>Latitude</label>
                <input type="text"
                       name="latitudeField"
                       aria-label="Fill in latitude"
                       ng-model="event.latitude" />
            </md-input-container>

            <md-input-container>
                <label>Longitude</label>
                <input type="text"
                       name="longitudeField"
                       aria-label="Fill in ongitude"
                       ng-model="event.longitude" />
            </md-input-container>

            <md-button class="md-raised md-primary"
                       ng-click="event.getNearbyEvents()">Search</md-button>

            <p>
                56.6666667<br />
                16.3666667
            </p>

        </div>

        <div flex id="search-by-tags"
             class="search-methods"
             ng-if="selectedMethod == 'Tags'">
        </div>

</div>