<div id="login-div">

    <h1>Login</h1>

    <p>
        email: wictor@gmail.com<br />
        password: password
    </p>

    <md-input-container>
        <input type="email" required
               name="email"
               id="email-field"
               ng-model="login.email"
               placeholder="Type in your email" />
    </md-input-container><br />

    <md-input-container>
        <input type="password" required
               name="password"
               id="password-field"
               ng-model="login.password"
               placeholder="Type in your password" />
    </md-input-container><br />


    <md-button class="md-raised md-primary"
               ng-click="login.login()">Login</md-button>

    <md-button class="md-raised md-primary"
               ng-click="login.logout()"
               ng-show="login.isAuthed()">Logout</md-button>

    <p id="welcome-message">
        {{login.message}}
    </p>

</div>