<!-- SEARCH NEARBY EVENTS -->

<div id="search-nearby-places"
     class="search-methods" flex>

    <!-- Choose position input method -->
    <md-radio-group ng-model="positionOption" layout="row">
        <md-radio-button value="Address">Address</md-radio-button>
        <md-radio-button value="Coordinates">Latitude & Longitude</md-radio-button>
    </md-radio-group>

    <!-- Address input field -->
    <md-input-container ng-if="positionOption =='Address'">
        <label>Address</label>
        <input type="text"
               name="addressField"
               aria-label="Fill in address"
               ng-model="event.address" />
    </md-input-container>

    <div id="coordinates"
         ng-if="positionOption == 'Coordinates'">

        <!-- Latitude input -->
        <md-input-container>
            <label>Latitude</label>
            <input type="text"
                   name="latitudeField"
                   aria-label="Fill in latitude"
                   ng-model="event.latitude" />
        </md-input-container>

        <!-- Longitude input -->
        <md-input-container>
            <label>Longitude</label>
            <input type="text"
                   name="longitudeField"
                   aria-label="Fill in longitude"
                   ng-model="event.longitude" />
        </md-input-container>
    </div>

    <!-- Search distance -->
    <md-input-container>
        <label>Search distance (Km)</label>
        <input type="text"
               name="distanceField"
               aria-label="Fill in distance"
               ng-model="event.distance" />
    </md-input-container>

    <div>
        <!-- Search button -->
        <md-button class="md-raised md-primary"
                   ng-click="event.getNearbyEvents()">
            Search
        </md-button>
    </div>

</div>